<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="service" source="spring.application.name"/>
    <springProperty name="logstashUrl" source="logstash.url"/>

    <logger name="com.itmo" level="WARN"/>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>